body {
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: var(--header-background-color);
}

.nav {
  background-color: var(--nav-background-color);
}

#footer {
  background-color: var(--footer-background-color);
  color: var(--text-color);
}

button.search,
button.dark {
  background: none;
  font-size: 1em;
  color: var(--icon-color);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

main {
  min-height: 50vh;
}

.index_right {
  width: 100vw;
}