#footer {
  width: 100%;
  background-color: #f7f7f7;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

ul {
  display: flex;

  li {
    margin-left: 20px;
  }
}

svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.section {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;

  p {
    font-size: 12px;
    margin-top: 4px;
  }

  ul {
    display: flex;

    li {
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }

      a {
        font-size: 12px;
      }
    }
  }

  .social {
    margin-left: 30px;

    a {
      svg {
        margin-left: 10px;
        width: 25px;
        height: 25px;
      }
    }
  }
}

.detail_text {
  width: 60%;
  display: flex;
  color: #aaaaaa;
  font-size: 10px;
  margin: 0 auto;

  p {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .section {
    width: 100%;
    font-size: 8px;

    p {
      font-size: 10px;
      /* 더 작은 폰트 크기로 설정 */
      margin-right: 0;
      margin-top: 0;
    }

    ul {
      display: flex;

      li {
        display: inline-block;

        &:hover {
          text-decoration: underline;
        }

        a {
          font-size: 10px;
          /* 더 작은 폰트 크기로 설정 */
        }
      }
    }
  }

  .detail_text {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .section {
    width: 60%;
    display: flex;
    flex-direction: column;

    ul {
      li {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 30px;
        margin-bottom: 10px;
      }
    }

    .social {
      margin: 10px 0 10px 0;

      a {
        svg {
          margin-right: 10px;
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .section {
    width: 100%;

    p {
      font-size: 12px;
      margin-right: 0;
      margin-top: 0;
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        display: inline-block;
        margin-bottom: 5px;

        &:hover {
          text-decoration: underline;
        }

        a {
          font-size: 12px;
          /* 더 작은 폰트 크기로 설정 */
        }
      }
    }

    .social {
      margin-left: 10px;
    }
  }

  .detail_text {
    width: 90%;
  }
}