.mypage_top {
  width: 100%;
  margin-top: 1.5rem;
  border: 1px solid #f7f7f7;
}

.mypage_info {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  overflow: auto; /* 스크롤 가능하게 설정 */

  /* 웹킷 브라우저(크롬, 사파리 등)에서 스크롤바 숨기기 */
  &::-webkit-scrollbar {
    width: 0; /* 스크롤바 너비를 0으로 설정 */
    height: 0;
  }

  .mypage_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    .prew {
      cursor: pointer;
    }

    > button {
      background-color: #fff;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 8px;
      text-decoration: underline;

      &:hover {
        background-color: #f0f0f0;
        transition: all 0.3s;
      }
    }
  }

  > h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.mypage_right {
  width: 100%;
  margin: 0 auto;

  .mypage01 {
    margin-bottom: 2rem;

    > h2 {
      font-size: 2rem;
    }

    .myprofile {
      text-align: center;

      .image-container {
        width: 200px;
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin: 0 auto;

        .circle-image {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .my_btn {
        display: inline-block;
        margin-top: 1rem;
        padding: 10px 20px;
        background-color: #ff5a79;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #ff5a79;
        }
      }
    }
  }

  .mypage02 {
    width: 70%;
    margin-top: 4rem;
    margin: 0 auto;

    > h2 {
      font-size: 2rem;
    }

    .profile-info {
      margin-top: 20px;

      .info-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .info-label {
        }

        .info-edit {
          display: flex;
          align-items: center;

          > input {
            width: 18vw;
            padding: 10px;
            text-align: end;
          }
        }

        .info-display {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
